In [1]:
#pandas

In [2]:
import pandas
print(pandas.__version__)

2.2.2

In [6]:
import pandas as pd

data=pd.Series([1,2,3,4,5,7,8,65,97])

In [7]:
print(data)

0     1
1     2
2     3
3     4
4     5
5     7
6     8
7    65
8    97
dtype: int64

In [8]:
print(data.values)
print(data.index)

[ 1  2  3  4  5  7  8 65 97]
RangeIndex(start=0, stop=9, step=1)

In [9]:
data=pd.Series([1,2,3,4,5,7,8,65,97,66,55,77,88,999,135],dtype=float)

In [11]:
print(data)

0       1.0
1       2.0
2       3.0
3       4.0
4       5.0
5       7.0
6       8.0
7      65.0
8      97.0
9      66.0
10     55.0
11     77.0
12     88.0
13    999.0
14    135.0
dtype: float64

In [12]:
print(data.shape)

(15,)

In [13]:
print(data[2])

3.0

In [15]:
print(data[0])

1.0

In [16]:
print(data[7])

65.0

In [22]:
data=pd.Series([1,2,3,4,5,7,8,65,97,66,55,77,88,999,135],index=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o'])

In [23]:
print(data)

a      1
b      2
c      3
d      4
e      5
f      7
g      8
h     65
i     97
j     66
k     55
l     77
m     88
n    999
o    135
dtype: int64

print(data['a':'k'])

In [24]:
print(data['a':'k'])

a     1
b     2
c     3
d     4
e     5
f     7
g     8
h    65
i    97
j    66
k    55
dtype: int64

In [27]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Harsha\Desktop\Pandas\Employee.csv')

print(df)

     id   FIRST_NAME   LAST_NAME     EMAIL  PHONE_NUMBER   HIRE_DATE  SALARY  \
0   100       Steven        King     SKING  515.123.4567   6/17/1987   24000
1   101        Neena     Kochhar  NKOCHHAR  515.123.4568   9/21/1989   17000
2   102          Lex     De Haan   LDEHAAN  515.123.4569   1/13/1993   17000
3   103    Alexander      Hunold   AHUNOLD  590.423.4567    1/3/1990    9000
4   105        David      Austin   DAUSTIN  590.423.4569   6/25/1997    4800
5   106        Valli   Pataballa  VPATABAL  590.423.4560    2/5/1998    4800
6   107        Diana     Lorentz  DLORENTZ  590.423.5567    2/7/1999    4200
7   108        Nancy   Greenberg  NGREENBE  515.124.4569   8/17/1994   12000
8   109       Daniel      Faviet   DFAVIET  515.124.4169   8/17/1994    9000
9   110         John        Chen     JCHEN  515.124.4269   9/28/1997    8200
10  111       Ismael     Sciarra  ISCIARRA  515.124.4369   9/30/1997    7700
11  112  Jose Manuel       Urman   JMURMAN  515.124.4469    3/7/1998    7800
12  113         Luis        Popp     LPOPP  515.124.4567   12/7/1999    6900
13  114          Den    Raphaely  DRAPHEAL  515.127.4561   12/7/1994   11000
14  115    Alexander        Khoo     AKHOO  515.127.4562   5/18/1995    3100
15  116       Shelli       Baida    SBAIDA  515.127.4563  12/24/1997    2900
16  117        Sigal      Tobias   STOBIAS  515.127.4564   7/24/1997    2800
17  118          Guy      Himuro   GHIMURO  515.127.4565  11/15/1998    2600
18  119        Karen  Colmenares  KCOLMENA  515.127.4566   8/10/1999    2500
19  120      Matthew       Weiss    MWEISS  650.123.1234   7/18/1996    8000

    DEPARTMENT_ID
0              90
1              90
2              90
3              60
4              60
5              60
6              60
7             100
8             100
9             100
10            100
11            100
12            100
13             30
14             30
15             30
16             30
17             30
18             30
19             50

In [33]:
print(df['FIRST_NAME'].iloc[3:9])

3    Alexander
4        David
5        Valli
6        Diana
7        Nancy
8       Daniel
Name: FIRST_NAME, dtype: object

In [34]:
df['Full_Name'] = df['FIRST_NAME'] + ' ' + df['LAST_NAME']
c = df[['Full_Name', 'SALARY']]
print(c)

            Full_Name  SALARY
0         Steven King   24000
1       Neena Kochhar   17000
2         Lex De Haan   17000
3    Alexander Hunold    9000
4        David Austin    4800
5     Valli Pataballa    4800
6       Diana Lorentz    4200
7     Nancy Greenberg   12000
8       Daniel Faviet    9000
9           John Chen    8200
10     Ismael Sciarra    7700
11  Jose Manuel Urman    7800
12          Luis Popp    6900
13       Den Raphaely   11000
14     Alexander Khoo    3100
15       Shelli Baida    2900
16       Sigal Tobias    2800
17         Guy Himuro    2600
18   Karen Colmenares    2500
19      Matthew Weiss    8000

In [35]:
c = df.loc[3:9, ['Full_Name', 'SALARY']]
print(c)

          Full_Name  SALARY
3  Alexander Hunold    9000
4      David Austin    4800
5   Valli Pataballa    4800
6     Diana Lorentz    4200
7   Nancy Greenberg   12000
8     Daniel Faviet    9000
9         John Chen    8200

In [41]:
import pandas as pd

pop_dict = {'cali': 340000 ,'nj': 350000,'ny': 600000,'md': 250000,'va': 150000,'florida': 300000,'chicago': 400000}
c = pd.Series(pop_dict)
print(c)

cali       340000
nj         350000
ny         600000
md         250000
va         150000
florida    300000
chicago    400000
dtype: int64

In [43]:
print(c['md'])

250000

In [44]:
print(c['nj':'florida'])

nj         350000
ny         600000
md         250000
va         150000
florida    300000
dtype: int64

In [45]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             20 non-null     int64
 1   FIRST_NAME     20 non-null     object
 2   LAST_NAME      20 non-null     object
 3   EMAIL          20 non-null     object
 4   PHONE_NUMBER   20 non-null     object
 5   HIRE_DATE      20 non-null     object
 6   SALARY         20 non-null     int64
 7   DEPARTMENT_ID  20 non-null     int64
 8   Full_Name      20 non-null     object
dtypes: int64(3), object(6)
memory usage: 1.5+ KB
None

In [46]:
print(df.describe())

               id        SALARY  DEPARTMENT_ID
count   20.000000     20.000000      20.000000
mean   110.300000   8265.000000      67.000000
std      6.207805   5695.637758      29.753372
min    100.000000   2500.000000      30.000000
25%    105.750000   3925.000000      30.000000
50%    110.500000   7750.000000      60.000000
75%    115.250000   9500.000000     100.000000
max    120.000000  24000.000000     100.000000

In [47]:
print(df['FIRST_NAME'])

0          Steven
1           Neena
2             Lex
3       Alexander
4           David
5           Valli
6           Diana
7           Nancy
8          Daniel
9            John
10         Ismael
11    Jose Manuel
12           Luis
13            Den
14      Alexander
15         Shelli
16          Sigal
17            Guy
18          Karen
19        Matthew
Name: FIRST_NAME, dtype: object

In [48]:
print(df['Full_Name'])

0           Steven King
1         Neena Kochhar
2           Lex De Haan
3      Alexander Hunold
4          David Austin
5       Valli Pataballa
6         Diana Lorentz
7       Nancy Greenberg
8         Daniel Faviet
9             John Chen
10       Ismael Sciarra
11    Jose Manuel Urman
12            Luis Popp
13         Den Raphaely
14       Alexander Khoo
15         Shelli Baida
16         Sigal Tobias
17           Guy Himuro
18     Karen Colmenares
19        Matthew Weiss
Name: Full_Name, dtype: object

In [52]:
d=df[df['SALARY']>9000]
print(d)

     id FIRST_NAME  LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  SALARY  \
0   100     Steven       King     SKING  515.123.4567  6/17/1987   24000
1   101      Neena    Kochhar  NKOCHHAR  515.123.4568  9/21/1989   17000
2   102        Lex    De Haan   LDEHAAN  515.123.4569  1/13/1993   17000
7   108      Nancy  Greenberg  NGREENBE  515.124.4569  8/17/1994   12000
13  114        Den   Raphaely  DRAPHEAL  515.127.4561  12/7/1994   11000

    DEPARTMENT_ID        Full_Name
0              90      Steven King
1              90    Neena Kochhar
2              90      Lex De Haan
7             100  Nancy Greenberg
13             30     Den Raphaely

In [53]:
df=df.drop('Full_Name',axis=1)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             20 non-null     int64
 1   FIRST_NAME     20 non-null     object
 2   LAST_NAME      20 non-null     object
 3   EMAIL          20 non-null     object
 4   PHONE_NUMBER   20 non-null     object
 5   HIRE_DATE      20 non-null     object
 6   SALARY         20 non-null     int64
 7   DEPARTMENT_ID  20 non-null     int64
dtypes: int64(3), object(5)
memory usage: 1.4+ KB
None

In [54]:
print(df.info)

<bound method DataFrame.info of      id   FIRST_NAME   LAST_NAME     EMAIL  PHONE_NUMBER   HIRE_DATE  SALARY  \
0   100       Steven        King     SKING  515.123.4567   6/17/1987   24000
1   101        Neena     Kochhar  NKOCHHAR  515.123.4568   9/21/1989   17000
2   102          Lex     De Haan   LDEHAAN  515.123.4569   1/13/1993   17000
3   103    Alexander      Hunold   AHUNOLD  590.423.4567    1/3/1990    9000
4   105        David      Austin   DAUSTIN  590.423.4569   6/25/1997    4800
5   106        Valli   Pataballa  VPATABAL  590.423.4560    2/5/1998    4800
6   107        Diana     Lorentz  DLORENTZ  590.423.5567    2/7/1999    4200
7   108        Nancy   Greenberg  NGREENBE  515.124.4569   8/17/1994   12000
8   109       Daniel      Faviet   DFAVIET  515.124.4169   8/17/1994    9000
9   110         John        Chen     JCHEN  515.124.4269   9/28/1997    8200
10  111       Ismael     Sciarra  ISCIARRA  515.124.4369   9/30/1997    7700
11  112  Jose Manuel       Urman   JMURMAN  515.124.4469    3/7/1998    7800
12  113         Luis        Popp     LPOPP  515.124.4567   12/7/1999    6900
13  114          Den    Raphaely  DRAPHEAL  515.127.4561   12/7/1994   11000
14  115    Alexander        Khoo     AKHOO  515.127.4562   5/18/1995    3100
15  116       Shelli       Baida    SBAIDA  515.127.4563  12/24/1997    2900
16  117        Sigal      Tobias   STOBIAS  515.127.4564   7/24/1997    2800
17  118          Guy      Himuro   GHIMURO  515.127.4565  11/15/1998    2600
18  119        Karen  Colmenares  KCOLMENA  515.127.4566   8/10/1999    2500
19  120      Matthew       Weiss    MWEISS  650.123.1234   7/18/1996    8000

    DEPARTMENT_ID
0              90
1              90
2              90
3              60
4              60
5              60
6              60
7             100
8             100
9             100
10            100
11            100
12            100
13             30
14             30
15             30
16             30
17             30
18             30
19             50  >

In [59]:
pd.Series(-1,index=range(1,7))

1   -1
2   -1
3   -1
4   -1
5   -1
6   -1
dtype: int64

In [63]:
import pandas as pd

pop_dict = {'cali': 340000 ,'nj': 350000,'ny': 600000,'md': 250000,'va': 150000,'florida': 300000,'chicago': 400000}
area_dict={'cali': 23 ,'nj': 25,'ny': 27,'md': 29,'va': 21,'florida': 19,'chicago': 32}
c = pd.Series(pop_dict)
area = pd.Series(pop_dict)
states =pd.DataFrame({'population':c,'Area':area})
print(states)

         population    Area
cali         340000  340000
nj           350000  350000
ny           600000  600000
md           250000  250000
va           150000  150000
florida      300000  300000
chicago      400000  400000

In [64]:
states.index

Index(['cali', 'nj', 'ny', 'md', 'va', 'florida', 'chicago'], dtype='object')

In [65]:
states.columns

Index(['population', 'Area'], dtype='object')

In [66]:
d=[{'a':10,'b':20},{'a':20,'b':40},{'a':30,'b':60}]
df=pd.DataFrame(d)
print(df)

    a   b
0  10  20
1  20  40
2  30  60

In [68]:
d=[{'a':10,'b':20},{'a':20,'c':40,'d':75},{'a':30,'b':90,'d':60}]
df=pd.DataFrame(d)
print(df)

    a     b     c     d
0  10  20.0   NaN   NaN
1  20   NaN  40.0  75.0
2  30  90.0   NaN  60.0

In [71]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randint(10,30,(5,2)),columns=['bo','fo'],index=['a','b','c','d','e'])
print(df)

   bo  fo
a  18  10
b  10  18
c  24  16
d  18  26
e  22  22